body,
html{
    min-width: 900px;    
    font-size: 16px;
    line-height: 22px;
    color: #313131;
    font-weight: 500;
    font-family: "Roboto", "Arial", sans-serif;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    /background: #e5e5e5 url("../nerds-index.jpg") no-repeat 50% 3px;*/  
}
.clearfix::after {
    content: "";
    display: table;
    clear: both;
}
.main-header {   
    background-color: #eeeeee;  
}
.container {
    width: 880px;
    margin: 0 auto;
    padding: 0 10px;
}
.header-logo {
    float: left;
    width: 140px;
    height: 56px;    
    margin-top: 27px;  
}
.main-navigation {
    float: left;
    width: 400px;
    margin-left: 182px;
    padding: 0;
}
.main-navigation ul {
    list-style: none;
    padding: 0;   
}
.main-navigation ul li {
    display: inline-block;    
    vertical-align: top; 
    margin-top: 38px;    
}
.main-navigation ul li a{
    display: inline-block;
    margin-right: 41px;
    font-size: 14px;
    line-height: 30px;
}
.main-navigation ul li:nth-child(4) a{   
    margin-right: 0px;
}
.main-navigation a {
    color: #000000;
    text-decoration: none;
    text-transform: uppercase;
}
.main-navigation a:hover{
    color: #fb565a;
}
.main-navigation a:active{
    color:#bfbfbf;
}
.main-navigation .active-page,
.main-navigation .active-page:hover,
.main-navigation .active-page:active {
    border-bottom: 2px solid #fb565a;
    color: #000000;
    opacity: 1;
    pointer-events: none;
}
.user-block {    
    float: right;    
    max-width: 100px;    
    margin-top: 56px;
}
.busket { 
    position: relative;
    display: inline-block;
    font-size: 14px;
    line-height: 22px;
    color: #313131;
    vertical-align: top;
    text-decoration: none;
    text-transform: uppercase
}
.busket::before {
    content: "";
    position: absolute;
    top: 3px;
    left: -26px;
    width: 18px;
    height: 18px;
    background: transparent  url("../img/icons/icon-basket.png") no-repeat;
}
.busket:hover{
    color:#fb565a;
}
.busket:active{
    color: #bfbfbf;
}
.busket:hover::before{
    background: transparent  url("../img/icons/icon-basket-hover.png") no-repeat; 
}
.busket:active::before {
    background: transparent url("../img/icons/icon-basket.png") no-repeat;
    opacity: 0.4;
}
.slider {
    position: relative;    
    margin-bottom: 78px;
    background: #eeeeee;
}
.slider input{
    opacity: 0;
}
.slider-window {    
    width: 880px;
   
    margin: 0 auto;
    padding: 0 10px;  
}
.slide{ 
    height: 315px;
}
.slider-features {
    float: left;
    width: 470px;    
    padding-top: 36px;   
}
.slider-features h2 {
    margin: 0;    
    font-size: 36px;
    font-weight: normal;
    line-height: 36px;
    margin-bottom: 17px;  
}
.slider-features p{
    margin-top: 0px;
    margin-bottom: 26px;
}
.features-button {
    display: block;
    width: 240px;
    font-size: 12px;
    font-weight: normal;
    line-height: 18px;
    text-align: center;
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    background-color: #fb565a;
    border-radius: 5px;
    padding-top: 10px;
    padding-bottom: 10px;    
}
.features-button:hover{
    background-color: #d6494d;
}
.features-button:active{
      background-color: #b63538;
      border-top: 2px solid #9b2d30;
      padding-top: 8px;
}
.slider-radio {
    position: absolute;
    top: 231px;
    left: 50%;
    width: 200px;
    text-align: center;
    margin-left: -107px; 
}
.slider-radio label {
    display: inline-block;
    width: 4px;
    height: 4px;
    margin-right: 5px;
    background: white;
    border: 3px solid white;
    vertical-align: top;
    border-radius: 50%;
    cursor: pointer;
}
.first-slide{
    float: right;    
    margin-top: 15px;
}
.second-slide{
    float: right;
    margin-top: -5px;
}
.third-slide{
    float: right;
    margin-right: 35px;
    margin-top: 32px;
}
#btn-1:checked ~ .slider-radio label[for="btn-1"],
#btn-2:checked ~ .slider-radio label[for="btn-2"],
#btn-3:checked ~ .slider-radio label[for="btn-3"] { 
    background:#c1c1c1;
}
.slide{
    display: none;
}
#btn-1:checked ~ .slider-window .slide:nth-child(1) { 
    display: block;
}
#btn-2:checked ~ .slider-window .slide:nth-child(2) { 
    display: block;
}
#btn-3:checked ~ .slider-window .slide:nth-child(3) { 
    display: block;
}
.services-form {
    float: left;
    width: 240px;
    margin-right: 80px;
}
.services-form:nth-child(3) {
    margin-right: 0px;
}
.services {
    width: 880px;    
    margin-bottom: 80px;
}
.services-img {
    height: 125px;
    margin-bottom: 22px;
}
.services-name {
    font-size: 18px;
    line-height: 30px;
    text-transform: uppercase;
    margin-top: 10px;
}
.services-form p{
    font-size: 15px;
    line-height: 22px;
    margin-bottom: 26px;
}
.order-btn {
    display: block;
    width: 140px;
    border-radius: 5px;
    text-align: center;
    padding-top: 7px;
    padding-bottom: 7px;
    font-size: 12px;
    font-weight: normal;
    color: white;
    text-decoration: none;
    text-transform: uppercase;
}
.red {
    background: #fb565a;
}
.yellow {
    background: #efc84a;
}
.green {
    background: #00ca74;
}
.red:hover{
    background:  #d6494d;
}
.yellow:hover{
    background: #d6ae2c ;
}
.green:hover{
    background: #01a25e ;
}
.red:active{
    background-color: #b63538;
    box-shadow: inset 0 3px #9b2d30;
}
.yellow:active{
    background-color: #c09b24;
    box-shadow: inset 0 3px #c1a64e;
}
.green:active{
    background-color: #009053;
    box-shadow: inset 0 3px #339a6e;
}
.line-through {
    height: 2px;
    background: #f8f8f8;
    margin-bottom: 60px;    
}
.about-us {
    width: 880px;     
    margin-bottom: 48px;
}
.left-column {   
    float: left;    
    width: 620px;   
    font-size: 16px;
}
.left-column h2 {
    margin-top: 10px;
    margin-bottom: 18px;
    font-size: 36px;
    line-height: 36px;
    font-weight: normal;
}
.left-column p{
    margin-bottom: 45px;
}
.orders-type {    
    text-transform: uppercase;
    margin-bottom: 22px;
}
.orders {
    margin: 0;
    padding: 0;
    
}
.orders li{
    position: relative;
    list-style: none;
    margin-bottom: 22px;
    margin-left: 35px;
}
.orders li::before {
    position: absolute;
    content: "";
    display: block;
    top: 10px;
    left: -35px;
    width: 25px;
    height: 2px;
    background: #f4a3a5;
}
.right-column {
    float: right;
    width: 240px;    
}
.about-us-logo {
    width: 187px;    
    margin: 0 auto;
    margin-bottom: 20px;
    margin-left: 30px;
}
.since {
    position: relative;
    width: 86px;
    margin: 0 auto;
    text-transform: uppercase;
    margin-bottom: 65px;
    margin-left: 80px;
}
.since::before {
    position: absolute;
    display: block;
    content: "";
    top: 10px;
    left: -75px;
    width: 65px;
    height: 2px;
    background: black;
}
.since::after {
    position: absolute;
    display: block;
    content: "";
    top: 10px;
    left: 96px;
    width: 65px;
    height: 2px;
    background: black;
}
.work-style {
    text-transform: uppercase;
    margin-bottom: 21px;
}
.right-column li{
    position: relative;
    list-style: none;
    margin-bottom: 22px;
    margin-left: -3px;
}
.right-column li::before {
    position: absolute;
    content: "";
    display: block;
    width: 25px;
    height: 2px;
    top: 10px;
    left: -37px;
    background: #f4a3a5;
}
.second {
    margin-bottom: 45px;
}
.our-projects {
    width: 857px;
    margin: 0 auto;
    margin-bottom: 25px;
}
.projects {
    display: inline-block;
    vertical-align: middle;  
    opacity: 0.3;
}
.our-projects .projects:nth-child(1){
    margin-right: 116px;
    margin-left: 5px;
    margin-bottom: 10px;
}
.our-projects .projects:nth-child(2){
    margin-right: 123px;
}
.our-projects .projects:hover{
    opacity: 1;
    cursor: pointer;
}
.our-projects .projects:active{
    opacity: 1;
    cursor: pointer;
}
.third {
    margin-bottom: 85px;  
}
.map {
    position: relative;   
    height: 416px;
    margin: 0 auto;
    margin-bottom: 75px;
    background: #ffffff url("../img/map.jpg") no-repeat 50% 50%;
}
.contacts {
    float: left;
    margin-top: 90px;
    width: 250px;
    height: 240px;
    background: #ffffff; 
}
.contacts-nerds {
    width: 172px;
    margin-left: 20px;
    margin-top: 25px;
    margin-bottom: 17px;
    text-transform: uppercase;    
}
.address {
    width: 200px;
    margin-left: 22px;    
    margin-bottom: 19px;
    color: #afafaf;
    line-height: 20px;
}
.phone {
    width: 170px;
    color: #afafaf;
    margin-left: 25px;
    margin-bottom: 27px;
}
.write-to-us {
    display: block;
    width: 205px;
    margin-left: 22px;
    margin-bottom: 25px;
    padding-top: 8px;
    padding-bottom: 8px;
    background: #fb565a;
    border-radius: 5px;
    text-align: center;
    font-size: 12px;
    font-weight: normal;
    text-decoration: none;
    text-transform: uppercase;    
    color: white;
}
.write-to-us:hover{
    background-color: #d6494d;
}
.write-to-us:active{
    background-color: #b63538;
    box-shadow: inset 0 3px #9b2d30;
}
.mark-block {   
    float: right;    
    margin-top: 120px;    
}
.map-mark{
    margin-top: 10px;
}
.footer-socials {
    float: left;
    width: 240px;    
}
.footer-socials a {   
    display: inline-block;
    width: 62px;
    height: 62px;
    border-radius: 50%;
    margin-right: 23px;   
    background: #e1e1e1 url("../img/icons/sprites.png") no-repeat center;
}
.footer-socials a:last-child {
    margin-right: 0;
}
.footer-socials .social-btn-vk {
    background-position: -145px 5px;  
}
.footer-socials .social-btn-fb {
    background-position: -35px 0px;
}
.footer-socials .social-btn-inst {
    background-position: -100px 0px;    
}
.social-btn:hover{
    background-color: #fb565a;
}
.social-btn:active{
    background-color: #d6494d;
    box-shadow: inset 0 3px #b63e42;
}
.slogan {
    float: right;
    width: 550px;
    margin-right: 10px;
}
.slogan-freinds {
    margin: 0;
    font-size: 36px;
    line-height: 36px;
    font-weight: normal;
}
.slogan-discount {
    margin-top: 10px;
    margin-bottom: 80px;
}
/* Стилизация формы связи 
        Начало*/
.modal-window {
    position: absolute;
    display: none;
    width: 460px;
    left: 50%;
    bottom: 200px;
    background-color: #ffffff;
    color: #000000;
    box-shadow: 0 20px 40px 15px rgba(0, 0, 0, 0.2);
}
.modal-window-show {
    display: block;
    animation: bounce 0.8s;
}
.contacts-form {
    width: 630px;
    margin: 0 auto;
    background: #ffffff;
    box-shadow: 0 20px 40px 15px rgba(0, 0, 0, 0.2);
   
}
.name,
.e-mail {
    display: inline-block;
    padding: 0px;
    margin-top: 54px;
    margin-right: 20px;
    margin-left: 80px;
    margin-bottom: 20px;
    border: none;
    
}
.e-mail{
    margin-right: 0;
    margin-left: 0;
}
.letter {
    float: left;
    border: none;
    padding: 0;
    margin-left: 80px;
    margin-bottom: 45px;
}
.e-mail input[type="text"],
.name input[type="text"]{
    padding-left: 5px;
    width: 217px;
    height: 38px;
    border-radius: 5px;
    border: 2px solid #eeeeee;
    font-size: 12px;
    text-transform: uppercase;
}
.letter textarea{
    width: 460px;
    height: 100px;
    border: 2px solid #eeeeee;
    border-radius: 5px;
    font-size: 12px;
    text-transform: uppercase;
}
.contacts-form button{
    width: 460px;
    height: 38px;
    margin-left: 80px;
    margin-bottom: 50px;
    border-radius: 5px;
    border: none;
    font-size: 12px;
    line-height: 18px;
    font-weight: normal;
    text-transform: uppercase;
    color: #ffffff;
    background: #fb565a;
}
.esc-button{
    display: block;
    position: relative;
    float: right;
    width: 41px;
    height: 41px;
    margin-right: 6px;
    margin-top: 6px;
    border-radius: 50%;
    background: #fb565a;
    cursor: pointer;
}
.esc-button::before {
    position: absolute;
    display: block;
    top: 17.9px;
    left: 5px;
    content: "";
    width: 30px;
    height: 4px;
    background-color: #ffffff;
    transform: rotate(45deg)
}
.esc-button::after{
   position: absolute;
    display: block;
    top: 17.9px;
    left: 5px;
    content: "";
    width: 30px;
    height: 4px;
    background-color: #ffffff;
    transform: rotate(-46deg) 
}
.esc-button:hover::before{
    background-color: #34495e;
}
.esc-button:hover::after {
    background: #34495e;
}
.esc-button:hover {
    background-color: #ffffff;
}
.esc-button:active{
    display: none;
}
/* стили для страницы каталога */
.welcome {
    padding-top: 20px;
    margin-bottom: 68px;
    text-align: center;   
    background: #eeeeee;  
}
.welcome h1 {
    padding-bottom: 92px;
    font-size: 40px;
    line-height: normal;
    font-weight: normal;
    text-align: center;
    text-transform: uppercase;
}
.choice-menu {
    float: left;
    width: 240px;
}
.cost {
    text-transform: uppercase;
    font-size: 18px;
    line-height: 30px;
    font-weight: bold;
    margin-left: -10px;
    margin-bottom: -37px;
}
.range-filter {
    width: 240px;
    margin: 50px auto; 
    margin-bottom: 50px;
    margin-left: -10px;
}
.range-controls {
    position: relative;
    height: 41px;
    padding-top: 39px;
    padding-right: 20px;
    padding-left: 20px;
    margin-bottom: 15px;
    border-radius: 5px;
    background: #f1f1f1;
}
.range-controls .scale {
    height: 2px;
    background: #d7dcde;
}
.range-controls .bar {
    width: 70%;
    height: 2px;
    background: #00ca74;
}
.range-controls .toggle {
    position: absolute;
    top: 30px;
    left: 0px;
    width: 4px;
    height: 4px;
    cursor: pointer;
    border: 8px solid #fff;
    border-radius: 50%;
    background: #ababab;
    box-shadow: 0 2px 1px 0 #cfcfcf;
}
.range-controls .toggle-min {
    left: 20px;
}
.range-controls .toggle-max {
    left: 160px;
}
.price-controls {
    font-size: 0;   
}
.price-controls label {
    font-size: 16px;
    display: inline-block;
    width: 50%;
}
.max-price {
    text-align: right;
}
.price-controls input {
    font-family: 'Roboto', 'Arial', sans-serif;
    font-size: 16px;
    width: 60px;
    margin-left: 10px;
    padding: 8px 10px;
    text-align: center;
    color: #283136;
    border: none;
    border-radius: 5px;
    outline: none;
    background: #f1f1f1;
}
.price-controls span {
    text-transform: uppercase;
}
.type-of-grid {
    margin-bottom: 45px;
    margin-left: -10px;
}
.type-of-grid .sort-type{
    text-transform: uppercase;
    font-size: 18px;    
}
.type-of-grid ul {
    padding: 0;
}
.type-of-grid  ul li{
    list-style: none;
    margin-bottom: 20px;
    margin-left: 20px;
}
.type-of-grid ul li input{
    margin-left: -15px;
    margin-right: 15px;
}
.features {
    margin-bottom: 60px;
    margin-left: -10px;
}
.features .sort-type {
    font-size: 18px;
    text-transform: uppercase
}
.features ul{
    padding: 0;
}
.features ul li{
    list-style: none;
    margin-bottom: 20px;
}
.features ul li input {
    margin-right: 20px;
}
.show-btn {    
    border: 0px;
    border-style: none;
    outline: none;
    font-size: 12px;
    line-height: 18px;
    color: #000000;
    text-transform: uppercase;
    width: 156px;
    height: 38px;
    text-align: center;
    border-radius: 5px;
    background-color: #f1f1f1;
    padding-top: 5px;
    cursor: pointer;
}
.show-btn:hover {
    background-color: #e5e5e5;
}
.show-btn:active {
    box-shadow: inset 0 3px #b5b5b5;
    background-color: #d5d5d5;
}
.gallery {
    float: right;
    width: 580px;
    margin-right: 10px;
    
    padding: 0;
}
.select-type {
    float: left;
}
.sort-header {
    margin-bottom: 20px;
}
.select-type a{
    display: inline-block;
    margin-right: 42px;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 12px;
    line-height: 18px;
    color:black;
    opacity: 0.3;
    border-bottom: 2px dotted green;
}
.select-type a:hover{
    opacity: 1;
    border-bottom: 1px solid #00ca74;
}
.select-type a:active{
    opacity: 1;
    border-bottom: none;
}
.sort-by {
    display: inline-block;
    margin-top: 5px;
    margin-right: 35px;
    margin-left: 18px;
    font-size: 12px;
    font-weight: bold;
    line-height: 18px;
    text-transform: uppercase
}
.sort-buttons {
    float: right;
}
.sorting-list {
    position: relative;
    font-size: 0;
    padding: 0;
    margin: 0;
}
.sorting-list li {
    display: inline-block;
    vertical-align: top;
    margin-right: 13px;
}
.add-sorting-list li:last-child {
    margin-right: 0;
}
.down-btn a::after {
    position: absolute;
    content: "";
    width: 0;
    height: 0;
    top: 3px; 
    left: 2px;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 10px solid #00ca74;
}
.down-btn a:hover::after {
    border-top: 10px solid #b5b5b5;
}
.down-btn a:active::after {
    border-top: 10px solid #000000;
}
.up-btn a::after {
    position: absolute;
    content: "";
    width: 0;
    height: 0;
    bottom: 9px;
    right: 1px;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 10px solid #c1c1c1;
}
.up-btn a:hover::after {
    border-bottom: 10px solid #b5b5b5;
}
.up-btn a:active::after {
    border-bottom: 10px solid #000000;
}
.gallery-projects{
    float: right;
    width: 560px;
    font-size: 0px;
    margin-bottom: 80px;
}
.shop-item {
    position: relative;
    display: inline-block;
    width: 240px;
    height: 270px;
    margin-right: 80px;
    margin-bottom: 80px;
    vertical-align: top;
}
.shop-item::before{
    display: block;
    content: "";
    width: 240px;
    height: 30px;
    background: url("../img/catalog/browser-panel.gif") no-repeat;
    background-size: 100%;
    opacity: 0.2;
}
.shop-item:hover::before{
    opacity: 1;
}
.shop-item:nth-child(even) {
    margin-right: 0px;
}
.shop-item h2 {
    text-transform: uppercase;
    padding-top: 20px;
    font-size: 18px;
    line-height: 1;
}
.shop-item p {
    padding-left: 10px;
    padding-right: 10px;
    font-size: 14px;
}
.shop-item-btn {
    display: block;
    width: 140px;
    margin: 0 auto;
    margin-bottom: 30px;
    padding-top: 8px;
    padding-bottom: 8px;
    font-size: 18px;
    font-weight: normal;
    text-decoration: none;
    text-transform: uppercase;
    color: white;
    background: #fb565a;
    border-radius: 5px;
}
.shop-item-info{
    display: none;
}
.shop-item:hover .shop-item-info{
    display: block;
    position: absolute;
    z-index: 100;
    width: 200px;
    top: 20%;
    left: 20px;
    text-align: center;
    background-color: white;
}
.shop-item-btn:hover{
    background-color: #d6494d;
}
.shop-item-btn:active {
    background-color: #b63538;
    box-shadow: inset 0 3px #9b2d30;
}
.pages{
    font-size: 0;
}
.pages ul{
    padding: 0;
}
.pages li{
    display: inline-block;
    vertical-align: top;
    text-align: center;
    font-size: 12px;
    line-height: 18px;
    text-transform: uppercase;
    margin-right: 10px;
}
.pages li:last-child {
     width: 140px;
}
.pages a{
    display: block;
    font-family: "Roboto", "Arial", sans-serif;
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;
    color: #000000;
    text-decoration: none;
    background-color: #f1f1f1;
    border-radius: 5px;
    padding: 10px 15px;
}
.pages .active-item-page,
.pages .active-item-page:hover,
.pages .active-item-page:active {
    background-color: #ffffff;
    border: 2px solid #f2f2f2;
    box-shadow: none;
    pointer-events: none;
    padding: 8px 14px;
}
.pages a:hover {
    background-color: #e5e5e5;
}
.pages a:active {
    background-color: #d5d5d5;
    box-shadow: inset 0 3px #b5b5b5;
}


@keyframes bounce {
    0% {
    -webkit-transform: translateY(300px);
    transform: translateY(300px);
}  
    100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
}
}

    