html,
body {
    min-width: 900px;
    font-family: "Roboto", "Arial", sans-serif;
    font-size: 16px;
    line-height: 22px;
    font-weight: 500;
    color: #283136;
    margin: 0;
    padding: 0;
    /background: #e5e5e5 url("../nerds-catalog.jpg") no-repeat 50% 3px;*/
}

.clearfix::after {
    content: "";
    display: block;
    clear: both;
}

.main-header {   
    background-color: #eeeeee;
}
.container {
    width: 880px;
    margin: 0 auto;
    padding: 0 10px;
}
.header-logo {
    float: left;
    width: 140px;
    height: 56px;    
    margin-top: 27px;  
}
.main-navigation {
    float: left;
    width: 400px;
    margin-left: 182px;
    padding: 0;
}
.main-navigation ul {
    width: 400px;
    list-style: none;
    padding: 0;   
}
.main-navigation ul li {
    display: inline-block;    
    vertical-align: top; 
    margin-top: 38px;    
}
.main-navigation ul li a{
    display: inline-block;
    margin-right: 41px;
    font-size: 14px;
    line-height: 30px;
}
.main-navigation ul li:nth-child(4) a{   
    margin-right: 0px;
}
.main-navigation a {
    color: #313131;
    text-decoration: none;
    text-transform: uppercase;
}
.main-navigation a:hover{
    color: #fb565a;
}
.main-navigation a:active{
    color:#bfbfbf;
}
.user-block {    
    float: right;    
    max-width: 100px;    
    margin-top: 56px;
}
.busket { 
    position: relative;
    display: inline-block;
    font-size: 14px;
    line-height: 22px;
    color: #313131;
    vertical-align: top;
    text-decoration: none;
    text-transform: uppercase
}
.busket::before {
    content: "";
    position: absolute;
    top: 3px;
    left: -26px;
    width: 18px;
    height: 18px;
    background:  url("../img/icons/icon-basket.png") no-repeat;
}
.busket:hover{
    color:#fb565a;
}
.busket:active{
    color: #bfbfbf;
}
.busket:hover::before{
    background: transparent  url(../img/icons/.icon-basket-hover.png) no-repeat; 
}
.main-navigation  .active{
    position: relative;
}
.main-header .active::after{
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: 1px;
    height: 2px;
    background-color: #fb565a;
}
.welcome {
    padding-top: 20px;
    margin-bottom: 68px;
    text-align: center;   
    background: #eeeeee;  
}
.welcome h1 {
    padding-bottom: 92px;
    font-size: 40px;
    line-height: normal;
    font-weight: normal;
    text-align: center;
    text-transform: uppercase;
}
.choice-menu {
    float: left;
    width: 240px;
}

.cost {
    text-transform: uppercase;
    font-size: 18px;
    line-height: 30px;
    font-weight: bold;
    margin-left: -10px;
    margin-bottom: -37px;
}

.range-filter {
    width: 240px;
    margin: 50px auto; 
    margin-bottom: 50px;
    margin-left: -10px;
}

.range-controls {
    position: relative;
    height: 41px;
    padding-top: 39px;
    padding-right: 20px;
    padding-left: 20px;
    margin-bottom: 15px;
    border-radius: 5px;
    background: #f1f1f1;
}

.range-controls .scale {
    height: 2px;
    background: #d7dcde;
}

.range-controls .bar {
    width: 70%;
    height: 2px;
    background: #00ca74;
}

.range-controls .toggle {
    position: absolute;
    top: 30px;
    left: 0px;
    width: 4px;
    height: 4px;
    cursor: pointer;
    border: 8px solid #fff;
    border-radius: 50%;
    background: #ababab;
    box-shadow: 0 2px 1px 0 #cfcfcf;
}

.range-controls .toggle-min {
    left: 20px;
}

.range-controls .toggle-max {
    left: 160px;
}

.price-controls {
    font-size: 0;   
  
}

.price-controls label {
    font-size: 16px;
    display: inline-block;
    width: 50%;
}

.max-price {
    text-align: right;
}

.price-controls input {
    font-family: 'Roboto', 'Arial', sans-serif;
    font-size: 16px;
    width: 60px;
    margin-left: 10px;
    padding: 8px 10px;
    text-align: center;
    color: #283136;
    border: none;
    border-radius: 5px;
    outline: none;
    background: #f1f1f1;
}

.price-controls span {
    text-transform: uppercase;
}

.type-of-grid {
    margin-bottom: 45px;
    margin-left: -10px;
}

.type-of-grid .sort-type{
    text-transform: uppercase;
    font-size: 18px;    
}

.type-of-grid ul {
    padding: 0;
}

.type-of-grid  ul li{
    list-style: none;
    margin-bottom: 20px;
    margin-left: 20px;
}

.type-of-grid ul li input{
    margin-left: -15px;
    margin-right: 15px;
}

.features {
    margin-bottom: 60px;
    margin-left: -10px;
}

.features .sort-type {
    font-size: 18px;
    text-transform: uppercase
}

.features ul{
    padding: 0;
}

.features ul li{
    list-style: none;
    margin-bottom: 20px;
}

.features ul li input {
    margin-right: 20px;
}

.show-btn {    
    width: 155px;
    border-radius: 5px;
    text-transform: uppercase;
}

.gallery {
    float: right;
    width: 580px;
    margin-right: 10px;
    
    padding: 0;
}

.select-type {
    float: left;
}

.sort-header {
    margin-bottom: 20px;
}

.select-type a{
    display: inline-block;
    margin-right: 42px;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 12px;
    line-height: 18px;
    color:black;
    opacity: 0.3;
    border-bottom: 2px dotted green;
}
.select-type a:hover{
    opacity: 1;
    border-bottom: 2px solid #00ca74;
}
.select-type a:active{
    opacity: 1;
    border-bottom: none;
}
.sort-by {
    display: inline-block;
    margin-top: 5px;
    margin-right: 35px;
    margin-left: 18px;
    font-size: 12px;
    font-weight: bold;
    line-height: 18px;
    text-transform: uppercase
}

.sort-buttons {
    float: right;
    margin-left: 50px;
}

.down-btn,
.up-btn {
    display: inline-block;
    opacity: 0.2;
}
.down-btn:active{
    opacity: 1;
}
.up-btn:active{
    opacity: 1;
}
.gallery-projects{
    float: right;
    width: 560px;
    font-size: 0px;
    margin-bottom: 80px;
   
}
.shop-item {
    position: relative;
    display: inline-block;
    width: 240px;
    height: 270px;
    margin-right: 80px;
    margin-bottom: 80px;
    vertical-align: top;
}
.shop-item::before{
    display: block;
    content: "";
    width: 240px;
    height: 30px;
    background: url("../img/catalog/browser-panel.gif") no-repeat;
    background-size: 100%;
    opacity: 0.2;
}
.shop-item:hover::before{
    opacity: 1;
}
.shop-item:nth-child(even) {
    margin-right: 0px;
}
.shop-item h2 {
    text-transform: uppercase;
    padding-top: 20px;
    font-size: 18px;
    line-height: 1;
}
.shop-item p {
    padding-left: 10px;
    padding-right: 10px;
    font-size: 14px;
}
.shop-item-btn {
    display: block;
    width: 140px;
    margin: 0 auto;
    margin-bottom: 30px;
    padding-top: 8px;
    padding-bottom: 8px;
    font-size: 18px;
    font-weight: normal;
    text-decoration: none;
    text-transform: uppercase;
    color: white;
    background: #fb565a;
    border-radius: 5px;
}
.shop-item-info{
    display: none;
}
.shop-item:hover .shop-item-info{
    display: block;
    position: absolute;
    z-index: 100;
    width: 200px;
    top: 20%;
    left: 20px;
    text-align: center;
    background-color: white;
}
.pages ul{
    float: left;
    padding: 0;
}  
.pages ul li {
    display: inline-block;
    text-align: center;
    margin-right: 10px;
}

.pages ul li a {
    display: block;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: bold;
    padding: 7px 15px;
    border: 2px solid #eeeeee;
    border-radius: 5px;
    background: #eeeeee;
    color: black;
}
.pages ul li a:hover {
    background: #e5e5e5;
}
pages ul li a:active {
    background: #d5d5d5;
    border-top: 3px solid #b5b5b5;
}
.pages  a .active {
    background: white;
}
.map {
    position: relative;
    height: 416px;
    margin: 0 auto;
    margin-bottom: 80px; 
    background: #ffffff url("../img/map.jpg") no-repeat 50% 50%;
}

.pages .active {
    background: white;
    border: 1px solid #eeeeee;
}

.contacts {
    float: left;
    margin-top: 90px;
    width: 250px;
    height: 240px;
    background: #ffffff; 
}
.contacts-nerds {
    width: 172px;
    margin-left: 20px;
    margin-top: 25px;
    margin-bottom: 17px;
    text-transform: uppercase;    
}
.address {
    width: 200px;
    margin-left: 22px;    
    margin-bottom: 19px;
    color: #afafaf;
    line-height: 20px;
}
.phone {
    width: 170px;
    color: #afafaf;
    margin-left: 25px;
    margin-bottom: 27px;
}
.write-to-us {
    display: block;
    width: 205px;
    margin-left: 22px;
    margin-bottom: 25px;
    padding-top: 8px;
    padding-bottom: 8px;
    background: #fb565a;
    border-radius: 5px;
    text-align: center;
    font-size: 12px;
    font-weight: normal;
    text-decoration: none;
    text-transform: uppercase;    
    color: white;
}
.write-to-us:hover{
    background-color: #d6494d;
}
.write-to-us:active{
    background-color: #b63538;
    border-top: 2px solid #a63033;
}
.mark-block {   
    float: right;    
    margin-top: 120px;    
}
.map-mark{
    margin-top: -10px;
}


.footer-socials {
    float: left;
    width: 240px;
    margin-left: 10px;
}

.footer-socials a {   
    display: inline-block;
    width: 62px;
    height: 62px;
    border-radius: 50%;
    margin-right: 23px;   
    background: #e1e1e1 url("../img/icons/sprites.png") no-repeat center;
}

.footer-socials a:last-child {
    margin-right: 0;
}

.footer-socials .social-btn-vk {
    background-position: -145px 5px;
    
}

.footer-socials .social-btn-fb {
    background-position: -35px 0px;
}

.footer-socials .social-btn-inst {
    background-position: -100px 0px;    
}


.slogan {
    float: right;
    width: 550px;
    margin-right: 20px;
}

.slogan-freinds {
    margin: 0;
    font-size: 36px;
    line-height: 36px;
    font-weight: normal;
}

.slogan-discount {
    margin-top: 10px;
    margin-bottom: 80px;
}
    