body,
html{
    min-width: 960px;    
    font-size: 16px;
    line-height: 22px;
    color: #313131;
    font-weight: 500;
    font-family: "Roboto", "Arial", sans-serif;
    margin: 0;
    padding: 0;
    /background: #e5e5e5 url("../nerds-index.jpg") no-repeat 50% 3px;*/  
}
.clearfix::after {
    content: "";
    display: table;
    clear: both;
}
.main-header {   
    background-color: #eeeeee;  
}
.container {
    width: 880px;
    margin: 0 auto;
    padding: 0 10px;
}
.header-logo {
    float: left;
    width: 140px;
    height: 56px;    
    margin-top: 27px;  
}
.main-navigation {
    float: left;
    width: 400px;
    margin-left: 182px;
    padding: 0;
}
.main-navigation ul {
    width: 400px;
    list-style: none;
    padding: 0;   
}
.main-navigation ul li {
    display: inline-block;    
    vertical-align: top; 
    margin-top: 38px;    
}
.main-navigation ul li a{
    display: inline-block;
    margin-right: 41px;
    font-size: 14px;
    line-height: 30px;
}
.main-navigation ul li:nth-child(4) a{   
    margin-right: 0px;
}
.main-navigation a {
    color: #313131;
    text-decoration: none;
    text-transform: uppercase;
}
.user-block {    
    float: right;    
    max-width: 100px;    
    margin-top: 56px;
}
.busket { 
    position: relative;
    display: inline-block;
    font-size: 14px;
    line-height: 22px;
    color: #313131;
    vertical-align: top;
    text-decoration: none;
    text-transform: uppercase
}
.busket::before {
    content: "";
    position: absolute;
    top: 3px;
    left: -26px;
    width: 18px;
    height: 18px;
    background:  url("/img/icons/icon-basket.png") no-repeat;
}
.slider {
    position: relative;    
    margin-bottom: 78px;
    background: #eeeeee;
}
.slider input{
    opacity: 0;
}
.slider-window {    
    width: 880px;
    height: 350px;
    margin: 0 auto;
    padding: 0 10px;  
}
.slide{      
}
.slider-features {
    float: left;
    width: 470px;    
    padding-top: 36px;   
}
.slider-features h2 {
    margin: 0;    
    font-size: 36px;
    font-weight: normal;
    line-height: 36px;
    margin-bottom: 17px;  
}
.slider-features p{
    margin-top: 0px;
    margin-bottom: 26px;
}
.features-button {    
    width: 240px;
    font-size: 12px;
    font-weight: normal;
    line-height: 18px;
    text-align: center;
    text-transform: uppercase;
    background-color: #fb565a;
    border-radius: 5px;
    padding-top: 10px;
    padding-bottom: 10px;    
}
.features-button a{    
    color: white;
    text-decoration: none;
}
.slider-radio {
    position: absolute;
    top: 231px;
    left: 50%;
    width: 200px;
    text-align: center;
    margin-left: -107px;
    
}
.slider-radio label {
    display: inline-block;
    width: 4px;
    height: 4px;
    margin-right: 5px;
    background: white;
    border: 3px solid white;
    vertical-align: top;
    border-radius: 50%;
    cursor: pointer;
}
.first-slide {
    float: right;    
    margin-top: 14px;  
}
.second-slide {
    float: right; 
    margin-right: 10px
}
.third-slide{
    float: right;
    margin-top: 32px;
    margin-right: 35px; 
}
#btn-1:checked ~ .slider-radio label[for="btn-1"],
#btn-2:checked ~ .slider-radio label[for="btn-2"],
#btn-3:checked ~ .slider-radio label[for="btn-3"] { 
    background:#c1c1c1;
}
.slide{
    display: none;
}
#btn-1:checked ~ .slider-window .slide:nth-child(1) { 
    display: block;
}
#btn-2:checked ~ .slider-window .slide:nth-child(2) { 
    display: block;
}
#btn-3:checked ~ .slider-window .slide:nth-child(3) { 
    display: block;
}
.services-form {
    float: left;
    width: 240px;
    margin-right: 80px;
}
.services-form:last-child {
    margin-right: 0px;
}
.services {
    width: 880px;    
    margin-bottom: 80px;
}
.services-img {
    height: 125px;
    margin-bottom: 22px;
}
.services-name {
    font-size: 18px;
    line-height: 30px;
    text-transform: uppercase;
    margin-top: 10px;
}
.services-form p{
    font-size: 15px;
    line-height: 22px;
    margin-bottom: 26px;
}
.order-btn {
    width: 140px;
        
    border-radius: 5px;
    text-align: center;
    padding-top: 7px;
    padding-bottom: 7px
}

.order-btn a{
    font-size: 12px;
    font-weight: normal;
    color: white;
    line-height: 18px;
    text-decoration: none;
    text-transform: uppercase;
}
.red {
    background: #fb565a;
}
.yellow {
    background: #efc84a;
}
.green {
    background: #00ca74;
}
.line-through {
    height: 2px;
    background: #f8f8f8;
    margin-bottom: 60px;    
}
.about-us {
    width: 880px;     
    margin-bottom: 48px;
}
.left-column {   
    float: left;    
    width: 620px;   
    font-size: 16px;
}
.left-column h2 {
    margin-top: 10px;
    margin-bottom: 18px;
    font-size: 36px;
    line-height: 36px;
    font-weight: normal;
}
.left-column p{
    margin-bottom: 45px;
}
.orders-type {    
    text-transform: uppercase;
    margin-bottom: 22px;
}
.orders {
    margin: 0;
    padding: 0;
    
}
.orders li{
    position: relative;
    list-style: none;
    margin-bottom: 22px;
    margin-left: 35px;
}
.orders li::before {
    position: absolute;
    content: "";
    display: block;
    top: 10px;
    left: -35px;
    width: 25px;
    height: 2px;
    background: #f4a3a5;
}
.right-column {
    float: right;
    width: 240px;    
}
.about-us-logo {
    width: 187px;    
    margin: 0 auto;
    margin-bottom: 20px;
    margin-left: 30px;
}
.since {
    position: relative;
    width: 86px;
    margin: 0 auto;
    text-transform: uppercase;
    margin-bottom: 65px;
    margin-left: 80px;
}
.since::before {
    position: absolute;
    display: block;
    content: "";
    top: 10px;
    left: -75px;
    width: 65px;
    height: 2px;
    background: black;
}
.since::after {
    position: absolute;
    display: block;
    content: "";
    top: 10px;
    left: 96px;
    width: 65px;
    height: 2px;
    background: black;
}
.work-style {
    text-transform: uppercase;
    margin-bottom: 21px;
}
.right-column li{
    position: relative;
    list-style: none;
    margin-bottom: 22px;
    margin-left: -3px;
}
.right-column li::before {
    position: absolute;
    content: "";
    display: block;
    width: 25px;
    height: 2px;
    top: 10px;
    left: -37px;
    background: #f4a3a5;
}
.second {
    margin-bottom: 45px;
}
.our-projects {
    width: 857px;
    margin: 0 auto;
    margin-bottom: 25px;
}
.projects {
    display: inline-block;
    vertical-align: middle;  
    opacity: 0.3;
}
.our-projects .projects:nth-child(1){
    margin-right: 116px;
    margin-left: 5px;
    margin-bottom: 10px;
}
.our-projects .projects:nth-child(2){
    margin-right: 123px;
}
.third {
    margin-bottom: 85px;  
}
.map {
    position: relative;
    width: 100%;
    height: 416px;
    margin: 0 auto;
    margin-bottom: 75px;
    background: #ffffff url("/img/map.jpg") no-repeat 50% 50%;
}
.contacts {
    float: left;
    margin-top: 90px;
    width: 250px;
    height: 240px;
    background: #ffffff; 
}
.contacts-nerds {
    width: 172px;
    margin-left: 20px;
    margin-top: 25px;
    margin-bottom: 17px;
    text-transform: uppercase;    
}
.address {
    width: 200px;
    margin-left: 22px;    
    margin-bottom: 19px;
    color: #afafaf;
    line-height: 20px;
}
.phone {
    width: 170px;
    color: #afafaf;
    margin-left: 25px;
    margin-bottom: 27px;
}
.write-to-us {
    width: 205px;
    margin-left: 22px;
    margin-bottom: 25px;
    padding-top: 8px;
    padding-bottom: 8px;
    background: #fb565a;
    border-radius: 5px;
    text-align: center;
}
.write-to-us a {
    font-size: 12px;
    font-weight: normal;
    text-decoration: none;
    text-transform: uppercase;    
    color: white;
}
.mark-block {   
    float: right;    
    margin-top: 120px;
    margin-right: -30px;
}
.map-mark{
    margin-top: -10px;
}
.footer-socials {
    float: left;
    width: 240px;    
}
.footer-socials a {   
    display: inline-block;
    width: 62px;
    height: 62px;
    border-radius: 50%;
    margin-right: 23px;   
    background: #e1e1e1 url("../img/icons/sprites.png") no-repeat center;
}
.footer-socials a:last-child {
    margin-right: 0;
}
.footer-socials .social-btn-vk {
    background-position: -145px 5px;  
}
.footer-socials .social-btn-fb {
    background-position: -35px 0px;
}
.footer-socials .social-btn-inst {
    background-position: -100px 0px;    
}
.slogan {
    float: right;
    width: 550px;
    margin-right: 10px;
}
.slogan-freinds {
    margin: 0;
    font-size: 36px;
    line-height: 36px;
    font-weight: normal;
}
.slogan-discount {
    margin-top: 10px;
    margin-bottom: 80px;
}
    